@media (max-width :600px)
{
   .nav-bar .ul1 li a{
           display: none;
   } 
   .ul1 #login-btn{
    display: none;
   }
   .im{
       width: auto;
   }
     .nav-bar .ul2{
         display: block;
      } 
      .nav-bar #manuicon{
        display: block;
        color: black;
      }
      
}
@media (max-width:500)
{
  .nav-bar{
      width: 100%;       /* Ensure it spans full width */
    margin: 0 auto;     /* Center it if needed */
    padding: 0;         /* Remove internal spacing */
    box-sizing: border-box;
  }
   
   .hero {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
}
@media(max-width:576px)
{
  .ul2{
    left:2rem;
    width: unset;
  }
}

                                          /* Hero section content*/

@media (max-width:1072px)
{
  #section h2{
    font-size: 2.5rem;
  }
  #section #p1{
       max-width: 300px;
  }
}        

/* 796 size */
@media (max-width:796px)
{
  #section h2{
    font-size: 2rem;
  }
  #section #p1{
       max-width: 240px;
  }
}     
/* 678 */
@media (max-width:673px)
{
  #section h2{
    font-size: 1.7rem;
  }
  #section #p1{
       max-width: 230px;
  }
  #cta-btn{
      margin-left: 30px;
  }
  #section #fruity-text{
    font-size: 3rem;
  }
}    

/* 420 */
@media (max-width:420px)
{
  #hero{
    background-position: right center;
    height: 470px;
  }
  #section{
     margin-top: 520px;
     text-align: center;
  }
  #section #p1{
    text-align: center;
    padding-left: 8px;
    max-width: 320px;
    font-size: 18px;
  }
  #cta-btn{
     margin-left: 68px;
    padding-bottom: 20px;
        padding-top: 10px;
        margin-top: 15px;
  }
  #had-manu #p3{
    margin-top: 300px;
  }
 
}    
@media(max-width:360)
{
  #section #p1{
     text-align: center;

  }
     #cta-btn{
     margin-left: 50px;

  }
  
}
@media(max-width:1496px)
{
  .menu-container, .box1{
        margin-left: 2rem
  }
}
@media(max-width:1339px)
{
  .menu-container, .box1{
        margin-left: 170px;
  }
  .menu-container,.box3{
     margin-left: 170px;
  }
  .menu-container,.box3,.box4{
    margin-top: 40px;
  }
}

@media(max-width:1280px)
{
  .menu-container, .box1{
        margin-left: 190px
  }
  .menu-container,.box3{
     margin-left: 190px;
  }
  .menu-container,.box3,.box4{
    margin-top: 80px;
  }
  .menu-container,.box2,.box4{
    margin-left: 80px;
  }
}
@media(max-width:1024px)
{
  .menu-container, .box1{
        margin-left: 90px
  }
  .menu-container,.box3{
     margin-left: 90px;
  }
  .menu-container,.box2,.box4{
    margin-left: 80px;
  }
}
@media(max-width:912px)
{
  .menu-container, .box1{
        margin-left: 50px
  }
  .menu-container,.box3{
     margin-left: 50px;
  }
  .menu-container,.box2,.box4{
    margin-left: 40px;
  }
}

@media(max-width:768px)
{
  .menu-container, .box1{
        margin-left:38px
  }
  .menu-container,.box3{
     margin-left: 28px;
  }
  .menu-container,.box2,.box4{
    margin-left: 18px;
  }
}

@media(max-width:542px)
{
  
  .menu-container ,.box2{
    margin-top: 40px;
    margin-left: 59px;
  }
  .menu-container,.box3{
    margin-top: 40px;
    margin-left: 59px;
  }
  .menu-container,.box4{
    margin-top: 40px;
    margin-left: 59px;
  }
}
 @media (max-width: 433px) {
      
  .menu-container ,.box1{
    margin-top: 40px;
    margin-left: 18px;
  }
  .manu-container,.box3,.box4,.box2{
   margin-left: 18px;
   margin-top: 40px;
  }
  
    }
   @media (max-width: 418px) {
      
  .menu-container ,.box1{
    margin-top: 40px;
    margin-left: 20px;
  }
  .manu-container,.box3,.box4,.box2{
   margin-left: 20px;
   margin-top: 40px;
  }
  
    }
   @media (max-width: 362px) {
      
  .menu-container ,.box1{
    margin-top: 40px;
    margin-left: 10px;
  }
  .manu-container,.box3,.box4,.box2{
   margin-left: 10px;
   margin-top: 40px;
  }
  
    }
  /* mango responsive */
  @media(max-width:804px)
  {
    .main-containt {
     display:inline-block;
    }
    .containt{
      padding-left: 40px;
      text-align: center;
      max-width: 750px;
    }
    .mango-rotate{
      padding-left: 210px;
    }
  }
  @media (max-width:541px)
  {
    .containt{
      padding-left: 10px;
      text-align: center;
      max-width: 600px;
    }
    .mango-rotate{
      padding-left: 70px;
    }
  }
 @media (max-width:413px)
  {
   .main-containt{
     padding-left: 40px;
    }
    .containt{
      padding-left: 10px;
      text-align: center;
      width: 300px;
    }
    .mango-rotate{
      padding-left: 12px;
    }
    .mango-rotate img{
      padding-left: 12px;
      width: 300px;
    }
  }
   @media (max-width:391px)
  {
      .main-containt{
      max-width: 380px;
    }
    .containt{
      padding-left: 10px;
      text-align: center;
      max-width: 340px;
    }
    .mango-rotate img{
      padding-left: 30px;
      width: 200px;
    }
  }
     @media (max-width:432px)
  {
    .main-containt{
      width: 280px;
    }
    .containt{
      padding-left: 38px;
      text-align: center;
      width: 380px;
    }
    .mango-rotate{
      padding-left: 20px;
    }
    .mango-rotate img{
      padding-left: 20px;
      width: 300px;
    }
  }
      @media (max-width:442px)
  {
    .main-containt{
      width: 240px;
    }
    .containt{
      padding-left: 15px;
      text-align: center;
      width: 320px;
    }
    .mango-rotate{
      padding-left: 20px;
    }
    .mango-rotate img{
      padding-left: 14px;
      width: 300px;
    }
  }
       @media (max-width:376px)
  {
    .main-containt{
      width: 100px;
      padding-left: 15px;
    }
    .containt{
      padding-left: 5px;
      text-align: center;
      width: 320px;
    }
   
    .mango-rotate {
      padding-left: 5px;

    }
  }
         @media (max-width:415px)
  {
    .main-containt{
      padding-left: 18px;
    }
    .containt{
      padding-left: 5px;
      text-align: center;
      width: 330px;
    }
   
    .mango-rotate {
      padding-left: 5px;

    }
  }
           @media (max-width:431px)
  {
    .main-containt{
      padding-left: 20px;
    }
    .containt{
      padding-left: 5px;
      text-align: center;
      width: 340px;
    }
   
    .mango-rotate {
      padding-left: 5px;

    }
  }
   @media (max-width:345px)
  {
    #section h2,#p1{
        padding-right: 30px;
    }
    #cta-btn{
    margin-left: 52px;
    }
    #had-manu{
      
    margin-top: 350px;

    }
    .main-containt{
      padding-left: 0px;
      text-align: center;
    }
    .mango-rotate{
      padding-left: 40px;
    }
  }